@import '../style/var.less';

@tag-md-font-size: 12px;
@tag-sm-font-size: 10px;
@tag-md-line-height: 22px;
@tag-sm-line-height: 13px;
@tag-md-border-radius: 8px;
@tag-sm-border-radius: 4px;
@tag-md-padding: 6px;
@tag-sm-padding: 3px;
@tag-base-border-width: 1px;

@tag-indicator-width: 3px;
@tag-indicator-height: 8px;
@tag-indicator-border-radius: 2px;
@tag-indicator-margin-right: 3px;
