@import './var.less';

:root {
  // color
  --mx-white-1: @white-1;
  --mx-white-2: @white-2;
  --mx-white-3: @white-3;
  --mx-black-1: @black-1;
  --mx-black-2: @black-2;
  --mx-black-3: @black-3;
  --mx-red-1: @red-1;
  --mx-red-2: @red-2;
  --mx-red-3: @red-3;
  --mx-red-4: @red-4;
  --mx-orange-1: @orange-1;
  --mx-orange-2: @orange-2;
  --mx-orange-3: @orange-3;
  --mx-orange-4: @orange-4;
  --mx-gray-1: @gray-1;
  --mx-gray-2: @gray-2;
  --mx-gray-3: @gray-3;
  --mx-gray-4: @gray-4;
  --mx-gray-5: @gray-5;
  --mx-gray-6: @gray-6;
  --mx-pink-1: @pink-1;
  --mx-pink-2: @pink-2;
  --mx-pink-3: @pink-3;
  --mx-background-color-dark: @background-color-dark;
  --mx-background-color-light: @background-color-light;

  // font-family
  --mx-base-font-family: @base-font-family;

  // Gradient Colors
  --mx-gradient-primary-1: linear-gradient(
    270deg,
    var(--mx-orange-1) 0%,
    var(--mx-red-2) 100%
  );
  --mx-gradient-primary-2: linear-gradient(
    -270deg,
    var(--mx-orange-3) 0%,
    var(--mx-red-2) 100%
  );

  // Component Colors
  --mx-text-color: @text-color;
  --mx-text-color-2: @text-color-2;
  --mx-text-color-3: @text-color-3;
  --mx-background-color: @background-color-dark;
  --mx-background-color-light: @background-color-light;

  // Animation
  --mx-animation-duration-base: @animation-duration-base;
  --mx-animation-duration-fast: @animation-duration-fast;
  --mx-animation-timing-function-enter: @animation-timing-function-enter;
  --mx-animation-timing-function-leave: @animation-timing-function-leave;

  // Border
  --mx-border-color: @border-color;
  --mx-border-width-base: @border-width-base;
  --mx-border-radius-sm: @border-radius-sm;
  --mx-border-radius-md: @border-radius-md;
  --mx-border-radius-lg: @border-radius-lg;
  --mx-border-radius-max: @border-radius-max;
}
