// color
@white-1: #fff;
@white-2: #fafafa;
@white-3: #f6f7fa;

@black-1: #000;
@black-2: #020202;
@black-3: #222;

@red-1: #ff302d;
@red-2: #ff2b2b;
@red-3: #ff0000;
@red-4: #e61818;

@orange-1: #ff7346;
@orange-2: #ff6600;
@orange-3: #d74f00;
@orange-4: #ff5722;

@yellow-1: #fff1df;

@brown-1: #824f11;

@gray-1: #ccc;
@gray-2: #666;
@gray-3: #eee;
@gray-4: #a5a5a5;
@gray-5: #c8c9cc;
@gray-6: #969799;
@gray-7: #999;

@pink-1: #ffcdcc;
@pink-2: #ffcccc;
@pink-3: #fff0ef;

@background-color-dark: rgba(@black-1, 0.7);
@background-color-light: @white-1;

// font-family
@base-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
  Helvetica, Segoe UI, Arial, Roboto, 'PingFangSC-Regular', 'PingFang SC',
  'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;

// Component Colors
@text-color: var(--mx-black-3);
@text-color-2: var(--mx-gray-4);
@text-color-3: var(--mx-gray-2);

// gradient
@gradient-primary-1: linear-gradient(270deg, @orange-1 0%, @red-2 100%);
@gradient-primary-2: linear-gradient(-270deg, @orange-3 0%, @red-2 100%);

// Animation
@animation-duration-base: 0.3s;
@animation-duration-fast: 0.2s;
@animation-timing-function-enter: ease-out;
@animation-timing-function-leave: ease-in;

// Border
@border-color: var(--mx-gray-3);
@border-width-base: 1px;
@border-radius-sm: 2px;
@border-radius-md: 4px;
@border-radius-lg: 8px;
@border-radius-max: 999px;
