@import '../style/var.less';

@buttonsVars: {
  xlarge-height: 45px;
  xlarge-padding: 0 24px;
  xlarge-border-radius: 18px;
  xlarge-font-size: 18px;
  large-height: 36px;
  large-padding: 0 18px;
  large-border-radius: 14px;
  large-font-size: 15px;
  medium-height: 33px;
  medium-padding: 0 18px;
  medium-border-radius: 14px;
  medium-font-size: 14px;
  small-height: 27px;
  small-padding: 0 12px;
  small-border-radius: 10px;
  small-font-size: 14px;
  mini-height: 24px;
  mini-padding: 0 10px;
  mini-border-radius: 10px;
  mini-font-size: 12px;
}; ;
