@import '../style/var.less';

@variables: {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
};

:root {
  each(@variables, {
    --mx-overlay-@{key}: @value;
  });
}

.mx-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--mx-overlay-z-index);
  width: 100%;
  height: 100%;
  background: var(--mx-overlay-background-color);
}
