@import '../style/var.less';

@badge-size: 15px;
@badge-dot-size: 6px;
@badge-color: var(--mx-white-1);
@badge-padding: 0 3px;
@badge-font-size: 12px;
@badge-font-weight: 600;
@badge-background-color: var(--mx-red-1);
